*.py[cod]

*~

.ropeproject
*/.ropeproject
.coverage

venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.tox

docs/_build


.aux
.bit
.blg
.bbl 
.lof 
.log 

*.log

.lot 
.glo 
.glx 
.gxg 
.gxs 
.idx 
.ilg 
.ind 
.out 
.url 
.svn 
.toc
